<%- include("partials/header.ejs") %>

<div id="id02">
  <div class="modal-content">
    <div class="modal-header">
      <h2>Edit a Post</h2>
    </div>
    <form
      class="modal-form"
      method="POST"
      action="/edit-post/<%= data.id %>?_method=PUT"
      enctype="multipart/form-data"
    >
      <div class="form-section">
        <label for="title"><b>Title:</b></label>
        <input
          id="title"
          class="form-input"
          type="text"
          placeholder="Enter the Title"
          value="<%= data.title %>"
          name="title"
        />
      </div>
      <div class="form-section">
        <label for="content"><b>Body:</b></label>
        <textarea
          id="content"
          rows="6"
          cols="12"
          class="form-textarea"
          name="content"
          placeholder="Enter content"
        ><%= data.content %></textarea>
      </div>
      <div class="form-section">
        <label for="image"><b>Upload Image:</b></label>
        <img
          src="/<%= data.image %>"
          alt="image"
          id="img"
          class="img-placeholder"
          name="image"
        /><br />
        <input
          type="file"
          class="form-input"
          id="imgURL"
          name="image"
        />
      </div>
      <button
        class="form-button"
        type="submit"
      >
        Update
      </button>
    </form>
  </div>
</div>

<script>
  let img = document.getElementById("img");
  let inputFile = document.getElementById("imgURL");
  
  inputFile.onchange = function() {
    img.src = URL.createObjectURL(inputFile.files[0]);
  };
</script>
<%- include("partials/footer.ejs") %>
</body>
</html>
